.pago {
  display: flex;
  flex-wrap: wrap;
}

.primer-boton {
  line-height: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 150px;
  background-color: #ea3a6c;
  color: #fff;
  text-decoration: none;
}

.primer-boton:hover {
  background-color: #FAD242;
  color: white;
}

.total-box {
  width: 300px;
  height: 50px;
  background-color: #E8B0A3;
  color: white;
  align-items: left;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  border-radius: 5px;
}

.fixCard {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.fixCard img {
  width: auto;
  height: 200px;
  margin: 0px;
}

.buttonPrecio {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 5%;
}

.Card-boton {
  margin-left: 15px;
  line-height: 35px;
  text-align: center;
  font-family: Helvetica;
  width: 150px;
  background-color: #ea6a8f;
  color: #eff5bf;
  border-radius: 5px;
  border: 1% solid #000000;
}

.Card-boton:hover {
  background-color: #d75323;
  color: #ffffff;
}

.Card-precio {
  margin: auto;
  line-height: 35px;
  text-align: center;
  font-family: Helvetica;
  width: 100px;
  background-color: #96b6b3;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
}
.butonGeneral{
  line-height: 35px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 100px;
  background-color: #ff0048;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.butonAG {
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  background-color: #ea3a6c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ea3a6c;
  display: inline-block; 
  padding: 5px 10px; 
}

.butonAG:hover {
  background-color: #a90959; 
  color: #fff;
}
.butonGeneral:hover {
  background-color: #a90959; 
  color: #fff;
}